<!DOCTYPE html>

<html>

<head>
  <title>微商平台</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.css">
  <link rel="stylesheet" href="bower_components/Font-Awesome/css/font-awesome.css">
  <link rel="stylesheet" href="css/site.css" />
</head>

<body data-ng-app="app-web" data-ng-controller="appController as appVm">
  <div data-ng-cloak ng-if="!appVm.isUserAuth()">
    <wb-login user-data="appVm.credential" login-func="appVm.login()"></wb-login>
  </div>

  <div data-ng-if="appVm.isUserAuth()">
    <header data-ng-controller="headerController as headerVm">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="brand">
              <a class="navbar-brand" href="#/"><span>{{headerVm.logo}}</span></a>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="header-nav-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#"></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/userManage">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">您有10条消息</li>
                  <li>
                    <ul class="menu">
                      <li>
                        <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5个新的代理加入
                    </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">查看所有</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="img/user2-160x160.jpg" class="userImg" alt="User Image">
                  <span>{{appVm.currentUser.userID}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      {{appVm.currentUser.userID}} - {{appVm.currentUser.userRole}}
                      <small>2017年加入</small>
                    </p>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <a href="#">二级代理</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">客户资源</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">销售统计</a>
                      </div>
                    </div>
                  </li>
                  <li class="">
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat" ng-click="appVm.logOff()">登出</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div>
            <p>用 户 名:{{appVm.currentUser.userID}}</p>
            <p>用户类型:{{appVm.currentUser.userRoles}}</p>
          </div>
          <ul class="nav nav-pills nav-left nav-stacked" >
            <li ng-repeat="item in appVm.menus"><a ng-href="{{item.href}}">{{item.value}}</a></li>
          </ul>
        </div>

        <div class="col-md-9" ng-view></div>

      </div>
      <div class="row">
        <footer class="col-md-12">
          <div class="pull-right">
          </div>
          <strong>Copyright &copy; 2017 <a href="#">微商</a>.</strong> All rights reserved.
        </footer>
      </div>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <script src="js/toolUtility_ZH.js"></script>
  <script src="js/app-web.js"></script>
  <script src="js/appController.js"></script>
  <script src="js/homeController.js"></script>
  <script src="js/userManageController.js"></script>
  <script src="js/storageManageController.js"></script>
  <script src="js/headerController.js"></script>
  <script src="js/site.js"></script>
</body>

</html>