<!DOCTYPE html>

<html>

<head>
  <title>微商平台</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrapvalidator/dist/css/bootstrapValidator.css">
  <link rel="stylesheet" href="bower_components/Font-Awesome/css/font-awesome.css">
  <link rel="stylesheet" href="plugins/DataTables-1.10.15/media/css/jquery.dataTables.css">
  <link rel="stylesheet" href="plugins/angular-datatables/css/angular-datatables.css">
  <link rel="stylesheet" href="bower_components/toastr/toastr.css">
  <link rel="stylesheet" href="css/site.css" />
</head>

<body data-ng-app="app-web" data-ng-controller="appController as appVm">
  <div data-ng-cloak ng-if="appVm.showLogin()">
    <wb-login app-vm="appVm"></wb-login>
  </div>
  <div data-ng-cloak ng-if="appVm.showResetPassword()">
    <wb-reset-password app-vm="appVm"></wb-login>
  </div>

  <div data-ng-if="appVm.showMainWindow()">
    <header data-ng-controller="headerController as headerVm">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="brand">
              <a class="navbar-brand" href="#/"><span>{{headerVm.logo}}</span></a>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="header-nav-collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="item in appVm.menus"><a ng-href="{{item.href}}">{{item.value}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{appVm.language.WELCOME + appVm.credential.username}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#!/myBussiness">{{appVm.language.MY_BUSINESS}}</a></li>
                  <li><a ng-click="appVm.setPersonalInfo()">{{appVm.language.SET_PERSONAL_INFO}}</a></li>
                  <li><a ng-click="appVm.ChangePassword()">{{appVm.language.CHANGE_PASSWORD}}</a></li>
                  <li><a ng-click="appVm.logOff()">{{appVm.language.LOGOUT}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" ng-view></div>
      </div>
      <div class="row">
        <footer class="col-md-12">
          <div class="pull-right">
          </div>
          <strong>Copyright &copy; 2017 <a href="#">微商</a>.</strong> All rights reserved.
        </footer>
      </div>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
  <script src="plugins/angular-datatables/js/angular-datatables.js"></script>
  <script src="plugins/angular-datatables/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
  <script src="plugins/DataTables-1.10.15/media/js/dataTables.bootstrap.js"></script>
  <script src="bower_components/toastr/toastr.js"></script>

  <script src="js/toolUtility_ZH.js"></script>
  <script src="js/app-web.js"></script>
  <script src="js/appController.js"></script>
  <script src="js/homeController.js"></script>
  <script src="js/userManageController.js"></script>
  <script src="js/storageManageController.js"></script>
  <script src="js/headerController.js"></script>
  <script src="js/site.js"></script>
</body>

</html>