<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">{{vm.language.SALES_MENU_OUTSTOCK}}</a></li>
      <li role="presentation"><a href="#!/purchaseInfo">{{vm.language.SALES_MENU_PURCHASE_INFO}}</a></li>
      <li role="presentation"><a href="#!/salesInfo">{{vm.language.SALES_MENU_SALES_INFO}}</a></li>
      <li role="presentation"><a href="#!/salesStatics">{{vm.language.SALES_MENU_SALES_STATICS}}</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="modal fade" id="confirmDeliverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="confirmModalLabel">输入快递信息</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <p class="help-block">请输入运单号</p>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.deliverInfo.PostNum">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭<a/button>
              <button type="button" class="btn btn-primary" ng-click="vm.confirmDeliver()">确认出库</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div ng-repeat="bill in vm.bills">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  <h4><span><sapn>收货人<span>{{bill.ReceiverName}}</span></sapn>  电话</span>{{bill.ReceiverTel}}</h4>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-success pull-right" ng-click="vm.deliverOrder(bill.ReceiverTel)">出库</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4" ng-repeat="order in bill.orders">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-md-6">
                          <h4><span>商品名称:</span>{{order.Title}}</h4>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="pull-left"><span>商品数量：</span>{{order.Amount}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>