<div>
  <div data-ng-if="vm.currentUser">Welcome, Name:{{ vm.currentUser.userID }},Role:{{vm.currentUser.userRole}}</div>
  <div data-ng-switch on="vm.currentUser.userRole">
    <div data-ng-switch-when="1">You're {{vm.language.USER_ROLE_ADMIN}}</div>
    <div data-ng-switch-when="2">You're {{vm.language.USER_ROLE_ASSISTENT}}.</div>
    <div data-ng-switch-when="3">You're {{vm.language.USER_ROLE_ACCOUNTANT}}.</div>
    <div data-ng-switch-when="4">You're {{vm.language.USER_ROLE_STORE}}.</div>
    <div data-ng-switch-when="5">You're {{vm.language.USER_ROLE_AGENCY_PRIMARY}}.</div>
    <div data-ng-switch-when="6">You're {{vm.language.USER_ROLE_AGENCY_SECONDAY}}.</div>
    <div data-ng-switch-when="7">You're {{vm.language.USER_ROLE_SUPER_ADMIN}}.</div>
    <div data-ng-switch-default>You're something else.</div>
  </div>
</div>