<div ng-cloak>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div>
        <h2 class="text-center">{{appVm.language.LOGIN_TITTLE}}</h2>
      </div>
      <ng-form name="loginForm" class="center-block" novalidate>
        <div class="form-group">
          <label for="username">{{appVm.language.USER_NAME}}</label>
          <input type="text" name="username" class="form-control" ng-model="appVm.credential.username" required>
          <span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
        <span ng-show="loginForm.username.$error.required">{{appVm.language.USERNAME_RULE}}</span>
          </span>
        </div>
        <div class="form-group">
          <label for="password">{{appVm.language.USER_PASSWORD}}</label>
          <input type="password" name="password" class="form-control" ng-model="appVm.credential.password" required>
          <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
        <span ng-show="loginForm.password.$error.required">{{appVm.language.PASSWORD_REQUIRED}}</span>
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="appVm.login()">{{appVm.language.LOGIN}}</button>
        </div>
      </ng-form>
    </div>
  </div>
</div>