<div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <ng-form name="passwordResetForm" class="center-block" novalidate>
        <div class="form-group">
          <label for="oldPassword">{{appVm.language.USER_OLD_PASSWORD}}</label>
          <input type="password" name="oldPassword" id="oldPassword" class="form-control" ng-model="appVm.passwordReset.oldPassword"
            required>
          <span style="color:red" ng-show="passwordResetForm.oldPassword.$dirty && passwordResetForm.oldPassword.$invalid">
            <span ng-show="passwordResetForm.oldPassword.$error.required">{{appVm.language.OLD_PASSWORD_REQUIRED}}</span>
          </span>
        </div>
        <div class="form-group">
          <label for="newPassword">{{appVm.language.USER_NEW_PASSWORD}}</label>
          <input type="password" id="newPassword" class="form-control" required ng-model="appVm.passwordReset.newPassword">
          <span style="color:red" ng-show="passwordResetForm.oldPassword.$dirty && passwordResetForm.oldPassword.$invalid">
            <span ng-show="passwordResetForm.oldPassword.$error.required">{{appVm.language.OLD_PASSWORD_REQUIRED}}</span>
          </span>
        </div>
        <div class="form-group">
          <label for="confirmPassword">{{appVm.language.USER_CONFIRM_PASSWORD}}</label>
          <input type="password" id="confirmPassword" class="form-control" required ng-model="appVm.passwordReset.confirmPassword">
          <span style="color:red" ng-show="passwordResetForm.oldPassword.$dirty && passwordResetForm.oldPassword.$invalid">
            <span ng-show="passwordResetForm.oldPassword.$error.required">{{appVm.language.CONFIRM_PASSWORD_THESAME}}</span>
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" ng-click="appVm.resetPassword()">{{appVm.language.CONFIRM_CHANGE}}</button>
        </div>
      </ng-form>
    </div>
  </div>


</div>