<div class="tableContainer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="btn-group">
        <button type="button" class="btn btn-success" ng-click="vm.onAddUser()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{vm.language.ADD_ITEM}}</button>
        <button type="button" class="btn btn-danger" ng-click="vm.onDeleteUser()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{vm.language.DELETE_ITEM}}</button>
      </div>
    </div>

  </div>

  <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{vm.userModalTittle}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="userName" class="col-sm-2 control-label">{{vm.language.USER_NAME}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" ng-model="vm.editUser.UserName" placeholder="{{vm.language.USER_NAME}}">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">{{vm.language.USER_PASSWORD}}</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" ng-model="vm.editUser.Password" placeholder="{{vm.language.USER_PASSWORD}}">
              </div>
            </div>
            <div class="form-group">
              <label for="userType" class="col-sm-2 control-label">{{vm.language.USER_TYPE}}</label>
              <div class="col-sm-10">
                <select class="form-control" id="userType" ng-model="vm.editUser.UserType" ng-options="type.name for type in vm.userTypes"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="realName" class="col-sm-2 control-label">{{vm.language.USER_REAL_NAME}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="realName" ng-model="vm.editUser.RealName" placeholder="{{vm.language.USER_REAL_NAME}}">
              </div>
            </div>
            <div class="form-group">
              <label for="tel" class="col-sm-2 control-label">{{vm.language.USER_TEL}}</label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="tel" ng-model="vm.editUser.Tel" placeholder="{{vm.language.USER_TEL}}">
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-2 control-label">{{vm.language.USER_ADDRESS}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="address" ng-model="vm.editUser.Address" placeholder="{{vm.language.USER_ADDRESS}}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{vm.language.CLOSE}}</button>
          <button type="button" class="btn btn-primary" ng-click="vm.saveUserChange()">{{vm.language.SAVE}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLable">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{vm.language.USER_DELETE}}</h4>
      </div>
      <div class="modal-body">
        <p>{{vm.language.CONFIRM_USER_DELETE}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
      <form class="form-inline">
        <div class="form-group">
          <span>每页显示</span>
          <select class="form-control" ng-model="vm.pageSize" ng-options="size for size in vm.pageSizeOptions"></select>
          <span>条数据</span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="搜索">
        </div>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="vm.bSelectCurrentPage" ng-change="vm.selectPage()">
            </th>
            <th ng-repeat="colHeader in vm.columnHeaders">{{colHeader}}</th>
            <th>
              {{vm.language.EDIT_ITEM}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users">
            <td>
              <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="user.bSelect">
            </td>
            <td>{{user.ID}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.UserType.name}}</td>
            <td>{{user.Tel}}</td>
            <td>{{user.RealName}}</td>
            <td>{{user.Address}}</td>
            <td>{{user.CreateTime}}</td>
            <td>{{user.LastLoginTime}}</td>
            <td><a href="" ng-click="vm.onEditUser(user)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
      <form class="form-inline">
        <div class="form-group">
          <span>{{'显示'+ vm.dataBegin + '到' + vm.dataEnd + '条数据, 共' + vm.dataTotal + '条数据'}}</span>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
      <ul class="pagination">
        <li><a href="" ng-click="vm.prevPage()" ng-disabled="vm.currentPage <= 1">&laquo;</a></li>
        <li ng-repeat="page in vm.pages">
          <a href="" ng-click="vm.gotoPage(page)">{{page}}</a>
        </li>
        <li><a href="" ng-click="vm.nextPage()">&raquo;</a></li>
      </ul>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
      <button type="button" class="btn btn-success" ng-click="vm.saveChange()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{vm.language.SAVE}}</button>
      <button type="button" class="btn btn-danger" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{vm.language.CANCEL}}</button>
    </div>

  </div>-->
</div>