<!DOCTYPE html>

<html>
<head>
  <title>微商平台</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/site.css" />
</head>

<body data-ng-app="app-web" data-ng-controller="loginController as loginVm">
  <div id="loading">
    <!--loading indicater-->
  </div>

  <div data-ng-cloak>
    <div >
      <wb-login user-data="loginVm.credential" login-func="loginVm.login()" data-ng-if="!loginVm.isUserAuth"></wb-login>
    </div>
    <div data-ng-if="loginVm.isUserAuth">
      <div>
        <!--side bar-->
      </div>
      <div class="container-fluid">
        <!--main body-->
        <div>
          <!--top bar-->
        </div>
        <div data-ng-view></div>
      </div>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <script src="js/toolUtility_ZH.js"></script>
  <script src="js/app-web.js"></script>
  <script src="js/loginController.js"></script>
  <script src="js/site.js"></script>
</body>

</html>