<div>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 pull-left">
            <a href="#!/selfInfo"><span class="glyphicon glyphicon-chevron-left"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <div ng-repeat="order in vm.orders">
        <div class="row">
          <div class="col-xs-4 center-block">
            <a><img class="img-responsive" src="{{order.img}}"></a>
          </div>
          <div class="col-xs-8">
            <p>{{order.description}}</p>
          </div>
          <div class="col-xs-12">
            <span class="pull-right">{{'共' + order.Amount + '件商品'}}<span>{{'共付款: ￥'+order.Price * order.Amount}}</span></span>
          </div>
        </div>
        <hr />
      </div>
    </div>

  </div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-4 text-center">
            <a href="/"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-4 text-center badgeContainer">
            <a ng-click="vm.onShoppingCartClick()"><span class="glyphicon glyphicon-shopping-cart"><span class="badge">{{vm.cartItemCount}}</span></span></a>
          </div>
          <div class="col-xs-4 text-center">
            <a ng-click="vm.onUserClick()"><span class="glyphicon glyphicon-user"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>