<div>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 pull-left">
            <a href="#"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-10 text-center">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <div ng-if="vm.productList.length != 0">
      <div  ng-repeat="product in vm.productList" class="row" ng-click="vm.gotoDetail(product.ID)">
        <div class="col-xs-4 center-block">
          <a><img class="img-responsive" src="{{product.Picture1}}"></a>
        </div>
        <div class="col-xs-8">
          <strong>{{product.Title}}</strong>
          <p>{{product.Description}}</p>
          <p>{{product.Price | currency:'￥'}}</p>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-4 text-center">
            <a href="/"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-4 text-center badgeContainer">
            <a ng-click="vm.onShoppingCartClick()"><span class="glyphicon glyphicon-shopping-cart"><span class="badge">{{vm.cartItemCount}}</span></span></a>
          </div>
          <div class="col-xs-4 text-center">
            <a ng-click="vm.onUserClick()"><span class="glyphicon glyphicon-user"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>