<div>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 pull-left">
            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="productDetailContainer">
    <div class="row">
      <div class="col-xs-12 imgContainer">
        <img class="img-responsive" src="{{vm.productDetail.Picture1}}">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 imgContainer">
        <img class="img-responsive" src="{{vm.productDetail.Picture2}}">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 imgContainer">
        <img class="img-responsive" src="{{vm.productDetail.Picture3}}">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 imgContainer">
        <img class="img-responsive" src="{{vm.productDetail.Picture4}}">
      </div>
    </div>
    <div class="row">
      <div>
        <p>{{vm.productDetail.Description}}</p>
      </div>
    </div>
    <div class="row">
      <div>
        <p>{{vm.productDetail.Price | currency:'￥' }}</p>
      </div>
    </div>
  </div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 text-center">
            <a href="#"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-2 text-center badgeContainer">
            <a href="#!/shoppingCart"><span class="glyphicon glyphicon-shopping-cart"><span class="badge">{{vm.cartItemCount}}</span></span></a>
          </div>
          <div class="col-xs-4 text-center nonPadding">
            <div class="input-group">
              <span class="input-group-btn"><button class="btn btn-default" ng-click="vm.decreaseCount()"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
              <input type="number" class="form-control" ng-model="vm.count">
              <span class="input-group-btn"><button class="btn btn-default" ng-click="vm.increaseCount()"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
          <div class="col-xs-4 text-center nonPadding text-container ">
            <button class="btn btn-primary" ng-click="vm.addToCart()">{{vm.language.ADD_TO_CART}}</button>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>