<div>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 pull-left">
            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <strong>{{vm.receiver.Name}}</strong>
        </div>
        <div class="col-xs-6">
          <strong>{{vm.receiver.Tel}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <p>{{vm.receiver.Address}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-2 pull-right">
      <a href="#!/receivers"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div ng-repeat="product in vm.products">
    <div class="row">
      <div class="col-xs-4 center-block">
        <img class="img-responsive" src="{{product.productImg}}">
      </div>
      <div class="col-xs-8">
        <strong>{{product.productTitle}}</strong>
        <p>{{product.productDescription}}</p>
        <p>{{product.productPrice * product.productCount | currency:'￥'}}</p>
      </div>
    </div>
  </div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 text-center">
            <a href="#!/"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-4 text-center">
            <a href="#!/"><span class="glyphicon glyphicon-user"></span></a>
          </div>
          <div class="col-xs-6 text-center colorButton">
            <a ng-click="vm.onOrderNow()"><span>{{vm.language.ORDER}}</span></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>