<div>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-2 pull-left">
            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div ng-repeat="product in vm.products" ng-if="vm.products.length != 0">
    <div class="row">
      <div class="col-xs-4 center-block">
        <img class="img-responsive" src="{{product.productImg}}">
      </div>
      <div class="col-xs-3">
        <strong>{{product.productTitle}}</strong>
        <p>{{product.productDescription}}</p>
        <p>{{product.productPrice * product.productCount | currency:'￥'}}</p>
      </div>
      <div class="col-xs-5 text-center pull-left">
        <div class="input-group myGroup">
          <span class="input-group-btn"><button class="btn btn-default myIcon" ng-click="vm.decreaseCount(product)"><span class="glyphicon glyphicon-minus"></span></button>
          </span>
          <input type="number" class="form-control myInput" ng-model="product.productCount">
          <span class="input-group-btn"><button class="btn btn-default myIcon" ng-click="vm.increaseCount(product)"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
        <button class="btn btn-default pull-right myIcon" ng-click="vm.onRemoveProduct(product)"><span class="glyphicon glyphicon-remove"></span></button>
        <div ng-if="product.CurrentAmount < product.productCount">
          <span>产品剩余数量<span>{{product.CurrentAmount}}</span><pan>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid my-nav-container">
    <div class="row">
      <div class="col-xs-12 pull-left textContainer">
        {{vm.language.TOTAL}}<span>{{vm.amount | currency: '￥'}}</span>
      </div>
    </div>
  </div>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom my-nav">
      <div class="container-fluid my-nav-container">
        <div class="row">
          <div class="col-xs-4 text-center">
            <a href="#"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div class="col-xs-4 text-center">
            <a href="#"><span class="glyphicon glyphicon-user"></span></a>
          </div>
          <div class="col-xs-4 text-center textContainer">
            <a href="#!/settle"><span>{{vm.language.SETTLE}}</span></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>