.mainContent{
  padding-bottom: 40px;
}

.userImg{
  height: 20px;
}

.tableContainer .row{
  padding-top: 5px;
  padding-bottom: 5px;
}

.usersTable tbody tr td{
  height: 10px;
}

.usersTable tbody tr td div{
  position: relative;
}

.usersTable tbody tr td div div
{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 8px;
  width: 8px;
  border-left: 4px solid red;
  border-top: 4px solid red;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  
}

.storageTable tbody tr td div div
{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 8px;
  width: 8px;
  border-left: 4px solid red;
  border-top: 4px solid red;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  
}

.usersTable tbody tr th{
  height: 10px;
}

.selectContainer{
  position: relative;
  width: 100px;
  height: 50px;
}

.selectContainer select{
  position: absolute;
  top: 0px;
  left: 0px;
}

.selectContainer input{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid transparent;
}

.myForm
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.myForm .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.myForm .form-control:focus
{
    z-index: 3;
}
.myForm input
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.invalidData
{
  border: 1px solid red;
  border-radius: 4px;
}

ul{
	list-style: none;
}
.text-field{
	cursor: pointer;
}
