body{
  padding-top:  50px;
  padding-bottom: 50px;
}

.my-nav{
  height: 20px;
  padding-top: 5px;
}

.my-nav-container{
  font-size: 30px;
}

.productDetailContainer{
  padding-left: 15px;
  padding-right: 15px;
}

.imgContainer{
  padding: 5px;
}

.nonPadding{
  padding-left: 0px;
  padding-right: 0px;
}

.text-container{
  padding: 0px;
  margin-top: -5px;
}