body{
  padding-top: 60px;
  padding-bottom: 50px;
}

.my-nav{
  height: 20px;
  padding-top: 5px;
}

.my-nav-container{
  font-size: 30px;
}

.productDetailContainer{
  padding-left: 15px;
  padding-right: 15px;
}

.imgContainer{
  padding: 5px;
}

.nonPadding{
  padding-left: 0px;
  padding-right: 0px;
}

.text-container{
  padding: 0px;
  margin-top: -5px;
}

.badgeContainer{
  position: relative;
}

.badgeContainer a span span{
  position: absolute;
  left: 15px;
  top: 0px;
}

.receiverInfoContainer
{
  padding-left: 15px;
  padding-right: 15px;
}

.myGroup{
   height: 10px !important;
   font-size: 5px;
}

.myIcon{
  height: 25px;
  line-height: 10px;
}

.myIcon span{
  font-size: 5px;
}

.myInput{
  height: 25px;
}
